{% extends "default.html" %}


{% block content %}


  <!-- <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-4">North Eastern Space Application Centre</h1>
        <div class="row center">
          <h5 class="header col s12 light">A cloud-based platform for spatial big data analytics built on Data Cubes</h5>
        </div>
        <br><br>
        {% if not user.is_authenticated %}
        <div class="form-group form-group-btns pull-right">
          <a href="/accounts/login?next=/" class="btn btn-primary">Log In </a>
        </div>
        {% else %}
        <div class="header center teal-text text-lighten-2">
          <h3 class=" center teal-text text-lighten-4">Welcome {{ user.username }}</h>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="parallax">
      <img src="/static/assets/images/ISRO.jpg" alt="Unsplashed background img 1">
    </div>
  </div> -->


<!-- <div id = 'main-container' class = 'z-depth-1'> -->

  <div id="index-banner" class="section no-pad-bot">
    <div class="container">
      <h2 class='header center light-blue-text' style = 'font-weight: 500'>North Eastern Space Application Center</h2>
      <hr class = 'hr1'>
      <div class = 'row center'>
        <h5 id = "tagline" class = 'header col s12'>A cloud-based platform for spatial big data analytics built on Data Cubes.</h5>
      </div>
    </div>  
  </div>  

  <div class = 'section grey lighten-3'>
    <div class='container' id='features-container'>            
      <h4 class='header center grey-text text-darken-4' style = 'font-weight: 500;'> Features </h4>
      <br>
      <div class="row">
        <div class="col s12 m6 l4">
          <div class="card hoverable">
            <div class="card-image waves-effect waves-light">
              <a href = '/data_cube_manager/visualization'> <img src="/static/assets/images/background3.jpg"> <span class="card-title">Datacube Manager</span>
              </a>              
            </div>
            <div class="card-content">
              <p>Visualize the ingested data in a Datacube format, or create new dataset types and ingestion configurations.</p>
            </div>          
          </div>
        </div>

        <div class="col s12 m6 l4">
          <div class="card hoverable">
            <div class="card-image waves-effect waves-light">
              <a href = '/applications'> 
              <img src="/static/assets/images/14.25,12.75,14.5,13.png" class = 'adjusted-image'>
              <span class="card-title" style = 'color: #333333;'>Applications</span>
            </a>
            </div>
            <div class="card-content">
              <p>Run pre-designed common sattelite applications on both user-defined and common ingested data.</p>
            </div>            
          </div>
        </div>

        <div class="col s12 m6 l4">
          <div class="card hoverable">
            <div class="card-image waves-effect waves-light">
              <a href = '/create_new_script'> <img src="/static/assets/images/background2.jpg" class = 'adjusted-image'> <span class="card-title">Custom Scripts and Documentation</span>
              </a>
              
            </div>
            <div class="card-content">
              <p>Learn how to use Datacubes and upload your own custom scripts to work with the platform.</p>
            </div>            
          </div>
        </div>
      </div>  
    </div>
  </div>

  <!-- <div class="container ">
    <div class="section grey lighten-4">

      
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center red-text" ><i class="material-icons">work</i></h2>
            <h5 class="center deep-purple-text text-darken-3">Datacube Manager</h5>

            <p class="light white-text">Visualize the ingested Datacubes, create new Dataset Types or build an Ingestion configuration for existing Datasets</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center yellow-text"><i class="material-icons">dashboard</i></h2>
            <h5 class="center deep-purple-text text-darken-3">Applications</h5>

            <p class="light white-text">Here, you can see the various algorithms that you can perform on our Ingested Datasets.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center purple-text"><i class="material-icons">library_books</i></h2>
            <h5 class="center deep-purple-text text-darken-3">Notebooks</h5>

            <p class="light white-text">You can write your own python notebooks and upload them to use our resources to run the algorithms.</p>
          </div>
        </div>
      </div>

    </div>
  </div> -->


  <!-- <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/static/assets/images/ISRO.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <div class="card-panel red lighten-2 z-depth-1">
            <div class="row">
              <div class="col s4">
                <img src="/static/assets/images/meme1.jpeg" alt="" class="responsive-img">
              </div>
              <div class="col s4">
                <img src="/static/assets/images/meme2.jpeg" alt="" class="responsive-img">
              </div>
              <div class="col s4">
                <img href="" src="/static/assets/images/meme3.jpeg" alt="" class="responsive-img">
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div> -->


  <!-- <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/static/assets/images/ISRO.jpg" alt="Unsplashed background img 3"></div>
  </div>
</div>
 -->
  <footer class="page-footer light-blue darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated. Send monies</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
    </div>
  </footer>
<!-- </div> -->


{% endblock %}
