{% extends "default.html" %}


{% block css %}
{% endblock %}

{% block javascript %}
{% endblock %}

{% block content %}

<div class="container valign-wrapper">
	<div class="row">
		
		<h2>OUTPUT</h2>
		Minimum latitude: {{ lat_min }} <br>
		Maximum latitude: {{ lat_max }} <br>
		Minimum longitude: {{ long_min }} <br>
		Maximum longitude: {{ long_max }} <br>
		Product: {{ product }} <br>
		Platform: {{ platform }} <br>
		Start date: {{ start_date }} <br>
		End date: {{ end_date }} <br>
		<br>
		{{ out }}
		<br>
		{% if err != None %}
			{{ err }}
		{% endif %}
		<div>
			    <img class="materialboxed" width="650" src="file:///home/localuser/Datacube/NE-GeoCloud/Media/urbanization/false_color.png">
		</div>

<!-- 		{{ platform }}
		{{ product }} -->
	</div>
</div>
{% endblock %}