{% extends "default.html" %}

{% block css %}
<style type="text/css" media="screen">
    .ace_editor {
		position: relative !important;
		border: 1px solid lightgray;
		margin: auto;
		height: 80vh;
		width: 80%;
	}
	.scrollmargin {
		height: 100px;
        text-align: center;
	}
</style>
{% endblock %}

{% block javascript %}
<script src="/static/assets/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>



{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col l6 offset-l3">
			{{ form.as_p }}
		</div>
		<div id="editor" class="col l6 offset-l3">function foo(items) {
    var i;
    for (i = 0; i &lt; items.length; i++) {
        alert("Ace Rocks " + items[i]);
    }
}
		</div>
	</div>
</div>

<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    editor.session.setMode("ace/mode/javascript");
    editor.resize();
</script>
{% endblock %}